@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Student Enrollment</h1>
    <p class="lead">The Office of Student Enrollment helps through the process of enrolling.</p>
</div>
